html,
body {
  height: 100%;
  background-color: #f5f5f5;
}

#sidebar {
  width: 240px;
  min-height: 100vh;
}

#sidebar .nav-link {
  color: #fff;
}

#sidebar .nav-link:hover {
  background-color: #343a40;
}